@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

$main-color:#006eff;
$light-color:#fff;
$semi-med-color:darken($light-color,5%);
$med-color:darken(#bbb,5%);
$dark-color:#333;
$red-color:#ff2600;
$max-width:1300px;
$anim-speed:0.2s;
$main-font:"Cairo",sans-serif;
$logo-font:"Russo One",sans-serif;
$secondary-font:"Maven Pro",sans-serif;
