@import 'variables';
@import 'utility';
@import 'media';

html
{
    body
    {
        font-family:$main-font;
        // background:$main-color;
    }
}

// Navbar
.navbar,.navbar-m
{
    border-bottom:1px solid darken($semi-med-color,10%);
}

// Sign Up Form Styling
#sign-in
{
    .shop-vector
    {
        position:absolute;
        margin-left:-5rem;

        img
        {
            height:500px;
            
        }
    }

    .container
    {
        height:100%;
        display:grid;
        grid-template-columns:0.5fr;
        grid-gap:1rem;
        justify-content:center;
        .card
        {

            padding:1.5rem;
            height:100%;
            margin:0 1rem;
            z-index:1;

            .head-3
            {
                position:relative;
                text-align:center;

                // &::after,&::before
                // {
                //     content:'';
                //     position:absolute;
                //     margin-top:25px;
                //     height:2px;
                //     width:5rem;
                //     background:$main-color;
                //     transform:translateX(40px);
                // }

                // &::before
                // {
                //     transform:translateX(-0px);
                // }
            }

            &-1
            {
                .head-3
                {
                    position:relative;
                    text-align:center;
                    display:flex;
                    align-items:center;
                    justify-content:center;
                    
                    &:after,&:before
                    {
                        content:'';
                        position:absolute;
                        background:$main-color;
                        height:2px;
                        width:30%;


                    }

                    &:after
                    {
                        left:0;
                    }
                    &:before
                    {
                        right:0;
                    }
                }

                .lead-3
                {
                    margin-top:1rem;
                }

                .btn
                {
                    width:100%;
                    text-align:center;
                    margin-top:2rem;

                    
                }
            }

            &-2
            {
                .form-grp
                {
                    margin-top:1rem;
                    label
                    {
                        display:block;
                        padding-bottom:0.6rem;
                    }

                    input
                    {
                        padding:0.6rem 0.2rem;
                        width:100%;
                        font-family:$main-font;

                        &:focus
                        {
                            outline-color:$main-color;
                        }
                    }

                    .pwd
                    {
                        position:relative;
                    }

                    .show-btn
                    {
                        position:absolute;
                        padding:0.6rem 0;
                        width:50px;
                        height:48px;
                        color:$dark-color;
                        transform:translateX(32.5rem) translateY(-3rem);
                        border-left:1px solid $med-color;
                        display:flex;
                        justify-content:center;
                        align-items:center;

                        .toggler
                        {
                            position:absolute;
                            height:20px;
                            width:100%;
                            z-index:2;
                            opacity:0;
                            cursor:pointer;
                        }
                    }

                }

                .bottom-space
                {
                    margin-top:2rem;
                    display:flex;
                    justify-content:space-between;
                    align-items:center;

                    a.lead-3
                    {
                        text-decoration: underline;
                    }

                    .btn
                    {
                        text-align:center;
                        width:30%;
                    }
                }
            }
        }
    }
}

// Footer
.main-footer
{
    border-top:1px solid darken($semi-med-color,10%);
}