# To show the languages
*.js linguist-detectable=true
*.css linguist-detectable=false
*.html linguist-detectable=false
*.php linguist-detectable=false

*.* linguist-language=php
*.* linguist-language=js