# To show the languages
*.js linguist-detectable=false
*.css linguist-detectable=true
*.html linguist-detectable=false
*.php linguist-detectable=true

*.* linguist-language=php
*.* linguist-language=css